<div header></div>
<div class="row" ng-controller="bookController as bkCtrl">
    <div class="col-sm-3">
        <h4>{{bkCtrl.lang.template.main.authors}}</h4>
        <select class="form-control" data-ng-attr-size="{{bkCtrl.authors.length+1}}" ng-model="filterAuthor" ng-options="auth.Name for auth in bkCtrl.authors">
            <option value="">---</option>
        </select>
        <h4>{{bkCtrl.lang.template.main.genres}}</h4>
        <select class="form-control" data-ng-attr-size="{{bkCtrl.genres.length+1}}" ng-model="filterGenre" ng-options="genr.Name for genr in bkCtrl.genres">
            <option value="">---</option>
        </select>
    </div>
    <div class="col-sm-9">
        <div class="col-md-4" ng-repeat="book in bkCtrl.books.filter(filterAuthor.Name, filterGenre.Name)">
            <img class="img-responsive img-thumbnail img-list" ng-src="Resources/img/{{book.Image}}"/>
            <p ng-bind="book.Name"></p>

            <p>{{bkCtrl.lang.template.main.price}}: {{book.Price | currency}}</p>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" ng-href="#/book/{{book.idBook}}" role="button">{{bkCtrl.lang.template.main.btnDetails}}</a>
                </div>
                <div class="btn-group" role="group" ng-controller="cartController as cartCtrl">
                    <button class="btn btn-success" ng-click="cartCtrl.cart.add(book)"
                            ng-class="{'disabled': !bkCtrl.isValidUser}">{{bkCtrl.lang.template.main.btnAdd}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
