<div header></div>
<div class="container" ng-controller="bookController as bkCtrl">
    <img class="img-responsive img-thumbnail" ng-src="/book_shop/Resources/img/{{bkCtrl.books.Image}}"/>
    <p>Name: {{bkCtrl.books.Name}}</p>
    <p>Authors: {{bkCtrl.books.Authors}}</p>
    <p>Genres: {{bkCtrl.books.Genres}}</p>
    <p>Description: {{bkCtrl.books.Description}}</p>
    <p>Price: {{bkCtrl.books.Price | currency}}</p>

    <form class="form-horizontal" name="countForm" ng-controller="cartController as cartCtrl">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Quantity</div>
                <input type="number" class="form-control" name="count" ng-model="count" ng-init="count = 1" min="1" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-class="{'disabled': countForm.count.$invalid}" ng-click="cartCtrl.cart.add(bkCtrl.books, count)">Add to cart</button>
                </span>
            </div>
        </div>
    </form>
</div>