<div header></div>
<div class="container" ng-controller="bookController as bkCtrl">
    <img class="img-responsive img-thumbnail" ng-src="/book_shop/Resources/img/{{bkCtrl.books.Image}}"/>

    <p>{{bkCtrl.lang.template.bookDet.name}}: {{bkCtrl.books.Name}}</p>

    <p>{{bkCtrl.lang.template.bookDet.authors}}: {{bkCtrl.books.Authors}}</p>

    <p>{{bkCtrl.lang.template.bookDet.genres}}: {{bkCtrl.books.Genres}}</p>

    <p>{{bkCtrl.lang.template.bookDet.descr}}: {{bkCtrl.books.Description}}</p>

    <p>{{bkCtrl.lang.template.bookDet.price}}: {{bkCtrl.books.Price | currency}}</p>

    <form class="form-horizontal" name="countForm" ng-controller="cartController as cartCtrl">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">{{bkCtrl.lang.template.bookDet.quantt}}</div>
                <input type="number" class="form-control" name="count" ng-model="count" ng-init="count = 1" ng-disabled="!bkCtrl.isValidUser" min="1" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            ng-class="{'disabled': countForm.count.$invalid || !bkCtrl.isValidUser}"
                            ng-click="cartCtrl.cart.add(bkCtrl.books, count)">
                        {{bkCtrl.lang.template.bookDet.btnAdd}}
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>