<div class="container-fluid" ng-controller="cartController as cartCtrl">
    <form name="cartForm">
        <table class="table table-bordered table-hover">
            <tr class="info">
                <th>№</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Amount</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="book in cartCtrl.cart.books">
                <td ng-bind="book.idBook"></td>
                <td>
                    <a class="btn btn-link" ng-href="#/book/{{book.idBook}}" role="button" ng-bind="book.Name"></a>
                </td>
                <td>{{book.Price | currency}}</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" min="1" ng-change="cartCtrl.cart.save(book.idBook, book.Quantity)" ng-model="book.Quantity" ng-init="book.Quantity" ng-pattern="cartCtrl.countTemplate" required>
                    </div>
                </td>
                <td>{{book.Price * book.Quantity | currency}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="cartCtrl.cart.remove(book.idBook)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
        <h3>Total amount: {{cartCtrl.cart.getTotalAmount() | currency}}</h3>
        <a class="btn btn-primary" ng-href="#/order" role="button" ng-class="{'disabled': cartForm.$invalid || !cartCtrl.cart.getTotalAmount()}">Validate order</a>
    </form>
</div>