<div class="container-fluid" ng-controller="orderController as orderCtrl">
    <div header></div>
    <h3>Please, select pay method.</h3>
    <select class="form-control" data-ng-attr-size="{{orderCtrl.payMethods.length+1}}" ng-model="payMethod" >
        <option value="{{pm.idPayMethod}}" ng-repeat="pm in orderCtrl.payMethods" ng-bind="pm.Name"></option>
    </select>
    <button class="btn btn-success" data-toggle="modal" data-target="#order" ng-class="{'disabled': !payMethod}" ng-click="orderCtrl.sendOrder(payMethod)">Order</button>

    <!-- Modal -->

    <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-click="orderCtrl.location.path('/')">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Order</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Thanks for your order</p>
                </div>
            </div>
        </div>
    </div>
</div>